html, body, #root {
  height: 100%;
  min-height: 100vh;
}

main {
  padding: 2em;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%  { transform: translateX(4px) }
  10% { transform: translateX(-2px) }
  20% { transform: translateX(-6px) }
  30% { transform: translateX(0px) }
  40% { transform: translateX(2px) }
  50% { transform: translateX(-2px) }
  60% { transform: translateX(-6px) }
  70% { transform: translateX(4px) }
  80% { transform: translateX(-2px) }
  90% { transform: translateX(4px)  }
  100%{ transform: translateX(2px) }
}